.container
  .row.page-title.text-center.wow.bounce(data-wow-delay='1s')
    h5 All Technology
    h2
      span 54716
      |  Technologies to help you get fit now!
  .row.tech
      .tech-posts.table-responsive
        table.table
          tr.wow.fadeInUp(data-wow-delay='1s')
            td.tbl-logo
              img(src='/assets/images/fitbit-logo.png', alt='')
            td.tbl-title
              h4 Fitbit Surge 
            td
              p Wearable, Watch
            td
              p
                i.fa.fa-tags
                | Activity and Fitness Tracking
            td.tbl-apply
              a(href='#') More Info
          tr.wow.fadeInUp(data-wow-delay='1.1s')
            td.tbl-logo
              img(src='/assets/images/fitbit-logo.png', alt='')
            td.tbl-title
              h4 Fitbit Surge 
            td
              p Wearable, Watch
            td
              p
                i.fa.fa-tags
                | Activity and Fitness Tracking
            td.tbl-apply
              a(href='#') More Info
          tr.wow.fadeInUp(data-wow-delay='1.2s')
            td.tbl-logo
              img(src='/assets/images/fitbit-logo.png', alt='')
            td.tbl-title
              h4 Fitbit Surge 
            td
              p Wearable, Watch
            td
              p
                i.fa.fa-tags
                | Activity and Fitness Tracking
            td.tbl-apply
              a(href='#') More Info
          tr.wow.fadeInUp(data-wow-delay='1.3s')
            td.tbl-logo
              img(src='/assets/images/fitbit-logo.png', alt='')
            td.tbl-title
              h4 Fitbit Surge 
            td
              p Wearable, Watch
            td
              p
                i.fa.fa-tags
                | Activity and Fitness Tracking
            td.tbl-apply
              a(href='#') More Info
          tr.wow.fadeInUp(data-wow-delay='1.4s')
            td.tbl-logo
              img(src='/assets/images/fitbit-logo.png', alt='')
            td.tbl-title
              h4 Fitbit Surge 
            td
              p Wearable, Watch
            td
              p
                i.fa.fa-tags
                | Activity and Fitness Tracking
            td.tbl-apply
              a(href='#') More Info
          tr.hide-tech.wow.fadeInUp(data-wow-delay='.1s')
            td.tbl-logo
              img(src='/assets/images/fitbit-logo.png', alt='')
            td.tbl-title
              h4 Fitbit Surge 
            td
              p Wearable, Watch
            td
              p
                i.fa.fa-tags
                | Activity and Fitness Tracking
            td.tbl-apply
              a(href='#') More Info
          tr.hide-tech.wow.fadeInUp(data-wow-delay='.2s')
            td.tbl-logo
              img(src='/assets/images/fitbit-logo.png', alt='')
            td.tbl-title
              h4 Fitbit Surge 
            td
              p Wearable, Watch
            td
              p
                i.fa.fa-tags
                | Activity and Fitness Tracking
            td.tbl-apply
              a(href='#') More Info
          tr.hide-tech.wow.fadeInUp(data-wow-delay='.3s')
            td.tbl-logo
              img(src='/assets/images/fitbit-logo.png', alt='')
            td.tbl-title
              h4 Fitbit Surge 
            td
              p Wearable, Watch
            td
              p
                i.fa.fa-tags
                | Activity and Fitness Tracking
            td.tbl-apply
              a(href='#') More Info
          tr.hide-tech.wow.fadeInUp(data-wow-delay='.4s')
            td.tbl-logo
              img(src='/assets/images/fitbit-logo.png', alt='')
            td.tbl-title
              h4 Fitbit Surge 
            td
              p Wearable, Watch
            td
              p
                i.fa.fa-tags
                | Activity and Fitness Tracking
            td.tbl-apply
              a(href='#') More Info
          tr.hide-tech.wow.fadeInUp(data-wow-delay='.5s')
            td.tbl-logo
              img(src='/assets/images/fitbit-logo.png', alt='')
            td.tbl-title
              h4 Fitbit Surge 
            td
              p Wearable, Watch
            td
              p
                i.fa.fa-tags
                | Activity and Fitness Tracking
            td.tbl-apply
              a(href='#') More Info
      .more-tech
        a(href='')
          i.fa.fa-refresh
          | View more Technology
