.content-area
  .container
    .row.page-title.text-center.wow.zoomInDown(data-wow-delay='1s')
      h2 Latest added Apps
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae illum dolorem, rem officia, id explicabo sapiente
    .row.featured-apps.text-center
      .col-md-4
        .single-app.app-1.wow.fadeInUp(data-wow-delay='0.8s')
          h3 New App 1
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae illum dolorem, rem officia, id explicabo sapiente
      .col-md-4
        .single-app.app-2.wow.fadeInUp(data-wow-delay='0.9s')
          h3 New App 2
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae illum dolorem, rem officia, id explicabo sapiente
      .col-md-4
        .single-app.app-3.wow.fadeInUp(data-wow-delay='1s')
          h3 New App 3
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae illum dolorem, rem officia, id explicabo sapiente
hr