.footer-area
  .container
    .row.footer
      .col-md-4
        .single-footer
          img.wow.pulse(src='/assets/images/logo.png', alt='', data-wow-delay='1s')
      .col-md-4
        .single-footer
          h4 Twitter update
          .twitter-updates
            .single-tweets
              h5 ABOUT 3 HOURS
              p
                strong Twitter User
                |  Velit do tempor non tempor laborum deserunt et minim.  
                a(href='http://t.co/') http://t.co/
            .single-tweets
              h5 ABOUT 9 HOURS
              p
                strong Twitter User
                |  Minim fugiat id do reprehenderit consectetur mollit mollit.  
                a(href='http://t.co/') http://t.co/
      .col-md-4
        .single-footer
          h4 Useful lnks
          .footer-links
            ul.list-unstyled
              li
                a(href='') Home
              li
                a.active(href='') Add a Product
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati architecto quaerat facere blanditiis tempora sequi nulla accusamus, possimus cum necessitatibus suscipit quia autem mollitia, similique quisquam molestias. Vel unde, blanditiis.
    .row.footer-copy
      p
        span (C) FitStack, All rights reserved
