.search-results
  .container
    .search-results-wrapper
      .row.text-center.wow.zoomInDown(data-wow-delay='1s')
        ul.filter
          li.active-filter
            a(href="#")
              h4 Popular
          li 
            a(href="#")
              h4 All
          li.star-filter
            .slider-filter
              h4 Rating
              input.filter-slider(type='range', name='rating', step='1', min='1', max='5', value='3')
      .row.search-results-tech
        .col-md-4
          .single-tech.wow.fadeInUp(data-wow-delay='0.8s')
            img.img-responsive(src="/assets/images/app-img-1.jpg")
            h3 New App 1
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus orci massa, ac sodales dui finibus id.
            .app-footer
              .row
                .col-xs-4.star-raiting
                  i.ion-android-star
                  i.ion-android-star
                  i.ion-android-star
                  i.ion-android-star-half
                  i.ion-android-star-outline
                .col-xs-4
                  | Reviews: 65
            .triangle-container
              .triangle
              .triangle-content
                i.ion-heart
        .col-md-4
          .single-tech.wow.fadeInUp(data-wow-delay='0.9s')
            img.img-responsive(src="/assets/images/app-img-2.jpg")
            h3 New App 2
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus orci massa, ac sodales dui finibus id.
            .app-footer
              .row
                .col-xs-4.star-raiting
                  i.ion-android-star
                  i.ion-android-star
                  i.ion-android-star
                  i.ion-android-star-half
                  i.ion-android-star-outline
                .col-xs-4
                  | Reviews: 65
            .triangle-container
              .triangle
              .triangle-content
                i.ion-heart
        .col-md-4
          .single-tech.wow.fadeInUp(data-wow-delay='1s')
            img.img-responsive(src="/assets/images/app-img-3.jpg")
            h3 New App 3
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus orci massa, ac sodales dui finibus id.
            .app-footer
              .row
                .col-xs-4.star-raiting
                  i.ion-android-star
                  i.ion-android-star
                  i.ion-android-star
                  i.ion-android-star-half
                  i.ion-android-star-outline
                .col-xs-4
                  | Reviews: 65
            .triangle-container
              .triangle
              .triangle-content
                i.ion-heart
        .col-md-4
          .single-tech.wow.fadeInUp(data-wow-delay='0.8s')
            img.img-responsive(src="/assets/images/app-img-1.jpg")
            h3 New App 1
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus orci massa, ac sodales dui finibus id.
            .app-footer
              .row
                .col-xs-4.star-raiting
                  i.ion-android-star
                  i.ion-android-star
                  i.ion-android-star
                  i.ion-android-star-half
                  i.ion-android-star-outline
                .col-xs-4
                  | Reviews: 65
            .triangle-container
              .triangle
              .triangle-content
                i.ion-heart
        .col-md-4
          .single-tech.wow.fadeInUp(data-wow-delay='0.9s')
            img.img-responsive(src="/assets/images/app-img-2.jpg")
            h3 New App 2
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus orci massa, ac sodales dui finibus id.
            .app-footer
              .row
                .col-xs-4.star-raiting
                  i.ion-android-star
                  i.ion-android-star
                  i.ion-android-star
                  i.ion-android-star-half
                  i.ion-android-star-outline
                .col-xs-4
                  | Reviews: 65
            .triangle-container
              .triangle
              .triangle-content
                i.ion-heart
        .col-md-4
          .single-tech.wow.fadeInUp(data-wow-delay='1s')
            img.img-responsive(src="/assets/images/app-img-3.jpg")
            h3 New App 3
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus orci massa, ac sodales dui finibus id.
            .app-footer
              .row
                .col-xs-4.star-raiting
                  i.ion-android-star
                  i.ion-android-star
                  i.ion-android-star
                  i.ion-android-star-half
                  i.ion-android-star-outline
                .col-xs-4
                  | Reviews: 65
            .triangle-container
              .triangle
              .triangle-content
                i.ion-heart
        .col-md-4
          .single-tech.wow.fadeInUp(data-wow-delay='0.8s')
            img.img-responsive(src="/assets/images/app-img-1.jpg")
            h3 New App 1
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus orci massa, ac sodales dui finibus id.
            .app-footer
              .row
                .col-xs-4.star-raiting
                  i.ion-android-star
                  i.ion-android-star
                  i.ion-android-star
                  i.ion-android-star-half
                  i.ion-android-star-outline
                .col-xs-4
                  | Reviews: 65
            .triangle-container
              .triangle
              .triangle-content
                i.ion-heart
        .col-md-4
          .single-tech.wow.fadeInUp(data-wow-delay='0.9s')
            img.img-responsive(src="/assets/images/app-img-2.jpg")
            h3 New App 2
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus orci massa, ac sodales dui finibus id.
            .app-footer
              .row
                .col-xs-4.star-raiting
                  i.ion-android-star
                  i.ion-android-star
                  i.ion-android-star
                  i.ion-android-star-half
                  i.ion-android-star-outline
                .col-xs-4
                  | Reviews: 65
            .triangle-container
              .triangle
              .triangle-content
                i.ion-heart
        .col-md-4
          .single-tech.wow.fadeInUp(data-wow-delay='1s')
            img.img-responsive(src="/assets/images/app-img-3.jpg")
            h3 New App 3
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus orci massa, ac sodales dui finibus id.
            .app-footer
              .row
                .col-xs-4.star-raiting
                  i.ion-android-star
                  i.ion-android-star
                  i.ion-android-star
                  i.ion-android-star-half
                  i.ion-android-star-outline
                .col-xs-4
                  | Reviews: 65
            .triangle-container
              .triangle
              .triangle-content
                i.ion-heart
        .col-md-4
          .single-tech.wow.fadeInUp(data-wow-delay='0.8s')
            img.img-responsive(src="/assets/images/app-img-1.jpg")
            h3 New App 1
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus orci massa, ac sodales dui finibus id.
            .app-footer
              .row
                .col-xs-4.star-raiting
                  i.ion-android-star
                  i.ion-android-star
                  i.ion-android-star
                  i.ion-android-star-half
                  i.ion-android-star-outline
                .col-xs-4
                  | Reviews: 65
            .triangle-container
              .triangle
              .triangle-content
                i.ion-heart
        .col-md-4
          .single-tech.wow.fadeInUp(data-wow-delay='0.9s')
            img.img-responsive(src="/assets/images/app-img-2.jpg")
            h3 New App 2
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus orci massa, ac sodales dui finibus id.
            .app-footer
              .row
                .col-xs-4.star-raiting
                  i.ion-android-star
                  i.ion-android-star
                  i.ion-android-star
                  i.ion-android-star-half
                  i.ion-android-star-outline
                .col-xs-4
                  | Reviews: 65
            .triangle-container
              .triangle
              .triangle-content
                i.ion-heart
        .col-md-4
          .single-tech.wow.fadeInUp(data-wow-delay='1s')
            img.img-responsive(src="/assets/images/app-img-3.jpg")
            h3 New App 3
            p
              | Labore eu Lorem voluptate sit consequat do nisi sunt aliquip quis tempor mollit duis dolore.
            .app-footer
              .row
                .col-xs-4.star-raiting
                  i.ion-android-star
                  i.ion-android-star
                  i.ion-android-star
                  i.ion-android-star-half
                  i.ion-android-star-outline
                .col-xs-4
                  | Reviews: 65
            .triangle-container
              .triangle
              .triangle-content
                i.ion-heart
      .row.more-tech-btn.text-center
        a.btn.btn-more(href="#")
          i.ion-ios-more