.slider-area-results
  .slider
    #bg-slider.owl-carousel.owl-theme
      .item.img-1
      .item.img-2
      .item.img-3
  .container.slider-content
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-sm-12
        h2 Your Search Query
