.slider-area
  .slider
    #bg-slider.owl-carousel.owl-theme
      .item.img-1
      .item.img-2
      .item.img-3
  .container.slider-content
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-sm-12
        h2 Get Fit with the latest Technology
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi deserunt deleniti, ullam commodi sit ipsam laboriosam velit adipisci quibusdam aliquam teneturo!
        .search-form.wow.pulse(data-wow-delay='0.8s')
          form.form-inline(action='')
            span Find 
            .form-group
              input.form-control(type='text', placeholder='fitness technology')
            span to help 
            .form-group
              input.form-control(type='text', placeholder='my goal.')
            input.btn(type='submit', value='Search')
